[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
bs4 = "*"
pandas = "*"
openpyxl = "*"
pyinstaller = "==4.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
