[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "==1.8.0"
bs4 = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
autopep8 = "*"
pyinstaller = "==4.1"

[requires]
python_version = "3.9"
